@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2105 0.0082 17.8217);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2105 0.0082 17.8217);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2105 0.0082 17.8217);
  --primary: oklch(0.4914 0.1862 27.6164);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9688 0.0011 17.1786);
  --secondary-foreground: oklch(0.312 0.0149 17.9814);
  --muted: oklch(0.9688 0.0011 17.1786);
  --muted-foreground: oklch(0.5454 0.0144 17.6031);
  --accent: oklch(0.9793 0.0082 17.2968);
  --accent-foreground: oklch(0.4914 0.1862 27.6164);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9215 0.0028 17.2083);
  --input: oklch(0.9215 0.0028 17.2083);
  --ring: oklch(0.4914 0.1862 27.6164);
  --chart-1: oklch(0.4914 0.1862 27.6164);
  --chart-2: oklch(0.312 0.0149 17.9814);
  --chart-3: oklch(0.5594 0.19 25.8625);
  --chart-4: oklch(0.6359 0.1036 20.3596);
  --chart-5: oklch(0.7433 0.0361 17.9936);
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.312 0.0149 17.9814);
  --sidebar-primary: oklch(0.4914 0.1862 27.6164);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9374 0.0022 17.1978);
  --sidebar-accent-foreground: oklch(0.4914 0.1862 27.6164);
  --sidebar-border: oklch(0.9215 0.0028 17.2083);
  --sidebar-ring: oklch(0.4914 0.1862 27.6164);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: EB Garamond, Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1422 0.0055 17.8199);
  --foreground: oklch(0.961 0.0014 17.1831);
  --card: oklch(0.1778 0.006 17.7269);
  --card-foreground: oklch(0.961 0.0014 17.1831);
  --popover: oklch(0.1778 0.006 17.7269);
  --popover-foreground: oklch(0.961 0.0014 17.1831);
  --primary: oklch(0.4587 0.1809 28.3819);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2316 0.0096 17.8676);
  --secondary-foreground: oklch(0.961 0.0014 17.1831);
  --muted: oklch(0.2316 0.0096 17.8676);
  --muted-foreground: oklch(0.7175 0.0104 17.399);
  --accent: oklch(0.2563 0.0953 27.2804);
  --accent-foreground: oklch(0.5968 0.238 28.6175);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2625 0.0117 17.9203);
  --input: oklch(0.2625 0.0117 17.9203);
  --ring: oklch(0.4587 0.1809 28.3819);
  --chart-1: oklch(0.4587 0.1809 28.3819);
  --chart-2: oklch(0.8414 0.0057 17.2697);
  --chart-3: oklch(0.5288 0.1952 27.1567);
  --chart-4: oklch(0.3437 0.1092 24.9922);
  --chart-5: oklch(0.2494 0.0491 21.2065);
  --sidebar: oklch(0.1665 0.0052 17.6851);
  --sidebar-foreground: oklch(0.9215 0.0028 17.2083);
  --sidebar-primary: oklch(0.4587 0.1809 28.3819);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2316 0.0096 17.8676);
  --sidebar-accent-foreground: oklch(0.961 0.0014 17.1831);
  --sidebar-border: oklch(0.2625 0.0117 17.9203);
  --sidebar-ring: oklch(0.4587 0.1809 28.3819);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: EB Garamond, Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm:
    0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow:
    0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md:
    0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg:
    0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl:
    0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 0px 10px 20px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
